<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agradecimiento por tu Pedido</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        ¡Gracias por tu Pedido!
                    </div>
                    <div class="card-body">
                        <p>¡Tu pedido ha sido realizado con éxito! Apreciamos tu compra.</p>
                        <p>Recibirás una confirmación por correo electrónico con los detalles de tu pedido.</p>
                        <p>Mientras tanto, si tienes alguna pregunta o necesitas asistencia adicional, no dudes en contactarnos.</p>
                        <a href="../cuenta/cuenta.php" class="btn btn-primary">Ver tu biblioteca</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
