<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Store</title>
  <link rel="stylesheet" href="../../Models/stylo.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

  </style>
</head>

<body class="bg-gray-900 text-white font-'Open Sans'">
  <div class="header-background">
    <div class="flex items-center justify-between">
      <button class="text-xl" id="filtros"><img src="../img/filtrar-removebg-preview.png" alt="left-icon"
          class="nav-icon left-icon"></button>
      <div class="navbar">
        <div class="dropdown">
          <button class="dropbtn" onclick="myFunction()">Cuenta
          </button>
          <div class="dropdown-content" id="myDropdown">
            <a href="index.html">Iniciar secion</a>
            <a href="../cuenta/cuenta.html">Ver mi perfil</a>
            <a href="#">Conviertete en desarollador</a>
          </div>
        </div>
      </div>
      <header>
        <nav>
          <ul>
            <li><img src="../img/pc.png" alt="Left Icon" class="nav-icon left-icon"><a href="../pc/pc.html">PC</a></li>
            <li><img src="../img/logotipo-de-playstation.png" alt="Left Icon" class="nav-icon left-icon"><a href="../ps/ps.html">PLAYSTATION</a></li>
            <li><img src="../img/xbox.png" alt="Left Icon" class="nav-icon left-icon"><a href="../xbox/xbox.html">XBOX</a></li>
            <li><img src="../img/tecnologia.png" alt="Left Icon" class="nav-icon left-icon"><a href="../nintendo/nintendo.html">NINTENDO</a></li>
          </ul>
        </nav>
        <div class="search-bar">
          <input type="text" placeholder="Search...">
        </div>
        <img src="../img/carrito.png" alt="Left Icon" class="nav-icon left-icon">
      </header>
    </div>
  </div>
  </nav>

  <div class="sidebar">

    <button class="border-t border-gray-700">
      <div class="jjk"><img src="../img/filtrar-removebg-preview.png" alt="left-icon" class="nav-icon left-icon"></div>
    </button>


    <div class="space-y-4 mt-4">
      <button id="genero-btn" class="border-t border-gray-700">
        <div class="font-medium">Género</div>
      </button>
      <div id="genero-options" class="hidden">
        <div><button class="accion" id="accion" name="accion">-Acción</button></div>
        <div><button class="accion" id="aventura" name="aventura">-Aventura</button></div>
        <div><button class="accion" id="estrategia" name="estrategia">-Estrategia</button></div>
      </div>


      <hr>
      <button class="border-t border-gray-700">
        <div class="font-medium">Precio</div>
      </button>
      <hr>
      <button class="border-t border-gray-700">
        <a href="../Ofertas/ofertas.html">Ofertas</a>
    </div>
    </button>
  </div>
  </div>


  </nav>
  <!-- Hero Section -->
  <section class="si">
    <p class="text-2xl mb-6">Best Seller On Nintendo</p>
    <div class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <a href="../Remn/remnant.html">
            <img src="../img/zelda.png" alt="Imagen 1">
        </div>
        <div class="carousel-item">
          <a href="../BaldursGate/baldurgate.html">
            <img src="../img/mariobros.png" alt="Imagen 2">
        </div>
        <div class="carousel-item">
          <a href="../GTA/GTA.html">
            <img src="../img/pinkmin.png" alt="Imagen 3">
        </div>
        <div class="carousel-item">
          <a href="../Rust/rust.html">
            <img src="../img/mariokart.png" alt="Imagen 4">
        </div>
      </div>
    </div>
  </section>



  <section class="si">
    <p class="text-2xl mb-6">Trending</p>
    <div class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <a href="../Remn/remnant.html">
            <img src="../img/cap1.png" alt="Imagen 1">
        </div>
        <div class="carousel-item">
          <a href="../BaldursGate/baldurgate.html">
            <img src="../img/cap2.png" alt="Imagen 2">
        </div>
        <div class="carousel-item">
          <a href="../GTA/GTA.html">
            <img src="../img/cap3.png" alt="Imagen 3">
        </div>
        <div class="carousel-item">
          <a href="../Rust/rust.html">
            <img src="../img/cap4.png" alt="Imagen 4">
        </div>
      </div>
    </div>
  </section>
  <!-- Trending Section -->
  <section class="sii">
    <h2 class="text-2xl mb-6">Trending</h2>
    <div class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <a href="../Cyberpunk/ciberp.html">
            <img src="../img/cap5.png" alt="Imagen 1">
          </a>
        </div>
        <div class="carousel-item">
          <a href="../HollowKnight/HK.html">
            <img src="../img/cap9.png" alt="Imagen 2">
          </a>
        </div>
        <div class="carousel-item">
          <a href="../Red Dead Redemption/rdr.html">
            <img src="../img/cap7.png" alt="Imagen 3">
          </a>
        </div>
        <div class="carousel-item">
          <a href="../Civilization/civilization.html">
            <img src="../img/cap8.png" alt="Imagen 4">
          </a>
        </div>
      </div>
    </div>
  </section>
  <footer class="grid grid-cols-3 gap-4 text-center py-6 bg-black bg-opacity-75">
    <div>
      <span class="fas fa-download"></span>
      <h3 class="text-lg mt-2">Ultra Fast</h3>
      <p>Instant Download</p>
    </div>
    <div>
      <span class="fas fa-shield-alt"></span>
      <h3 class="text-lg mt-2">Reliable and Safe</h3>
      <p>Over 10,000 games</p>
    </div>
    <div>
      <span class="fas fa-thumbs-up"></span>
      <h3 class="text-lg mt-2">99% User Approval</h3>
      <p>Our users love what we offer!</p>
    </div>
  </footer>
  <script src="../../Models/scriptt.js"></script>
</body>

</html>