<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baldur's Gate</title>
    <link rel="stylesheet" href="baldurgate.css">
    <link rel="stylesheet" href="../../Models/stilo.css">
</head>

<body>
    <nav>_</nav>
    <header>
        <nav>
            <button class="hamburger-menu">
                <img src="../img/menu-removebg-preview.png" alt="Menu Icon">
            </button>
            <ul class="nav-links">
                <li><img src="../img/pc.png" alt="Left Icon" class="nav-icon left-icon"><a href="#">PC</a></li>
                <li><img src="../img/logotipo-de-playstation.png" alt="Left Icon" class="nav-icon left-icon"><a
                        href="#">PLAYSTATION</a></li>
                <li><img src="../img/xbox.png" alt="Left Icon" class="nav-icon left-icon"><a href="#">XBOX</a></li>
                <li><img src="../img/tecnologia.png" alt="Left Icon" class="nav-icon left-icon"><a href="#">NINTENDO</a>
                </li>
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
        </div>
        <a href="/Views/Carrito/carrito.html">
            <img src="/Views/img/carrito.png" alt="Left Icon" class="nav-icon left-icon">
        </a>
    </header>

    <main>
        <div class="fixed-background"></div>
        <div class="content-container">
            <div class="video-and-requirements">
                <div class="image-cont" id="image-container">
                    <iframe id="videoFrame" width="560" height="315"
                        src="https://www.youtube.com/embed/C2ca6paV7i0?si=nUR9XiS60M1Ilvfk" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <img id="image4" src="../img/Captura de pantalla 2024-02-18 185119.png" alt="Hollow Knight"
                        class="Hollow" onclick="showVideo();">
                    <img id="image1" src="../img/baldur-1.jpg" alt="Hollow Knight" class="Hollow"
                        onclick="changeToImage('../img/baldur-1.jpg');">
                    <img id="image1" src="../img/baldur-2.jpg" alt="Hollow Knight" class="Hollow"
                        onclick="changeToImage('../img/baldur-2.jpg');">
                    <img id="image3" src="../img/baldur-3.jpg" alt="Hollow Knight" class="Hollow"
                        onclick="changeToImage('../img/baldur-3.jpg');">

                    <div class="sidebar">
                        <img src="../img/logo-baldur.png" alt="logo Icon" class="logo-icon">
                        <div class="purchase-options">
                            <div class="compra">
                                <button>BUY NOW</button>
                            </div>
                            <button>ADD TO CART</button>
                            <button>TO WISH LIST</button>
                        </div>
                        <div class="price">
                            <span class="sale-price">$1299</span>
                        </div>
                        <div class="publisher">
                            <strong>Larian Studios</strong>
                            <span>31/07/23</span>
                        </div>
                        <div class="rating6">
                            <span>Player ratings</span>
                            <div class="stars6" id="rating-stars6">
                                <span class="star6" data-value="1">★</span>
                                <span class="star6" data-value="2">★</span>
                                <span class="star6" data-value="3">★</span>
                                <span class="star6" data-value="4">★</span>
                                <span class="star6" data-value="5">★</span>
                            </div>
                        </div>
                    </div>
                    <div>_</div>

                    <div class="system-requirements bg-gray-800 text-white p-6 max-w-2xl mx-auto rounded-lg">
                        <ul class="tabs3 flex justify-between mb-4">
                            <button class="tab4 px-3 py-1 rounded cursor-pointer"
                                onclick="changeTab('windows')">Windows</button>
                            <button class="tab4 px-3 py-1 rounded cursor-pointer"
                                onclick="changeTab('macos')">macOS</button>
                        </ul>
                        <div id="windows" class="requirements">
                            <h2 class="text-lg mb-2">SYSTEM REQUIREMENTS</h2>
                            <div>.</div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <h3 class="section-title">MINIMUM:</h3>
                                    <p><span class="title"></span> <span class="details">Requires a 64-bit processor and
                                        64-bit operating system</span></p>
                                    <p><span class="title">SO:</span> <span class="details"> Windows 10 64-bit</span>
                                    </p>
                                    <p><span class="title">Processor:</span> <span class="details">Intel I5 4690 / AMD
                                            FX 8350</span></p>
                                    <p><span class="title">Memory:</span> <span class="details">8 GB de RAM</span></p>
                                    <p><span class="title">Graphics:</span> <span class="details"> Nvidia GTX 970 / RX
                                            480 (4GB+ of VRAM)</span></p>
                                    <p><span class="title">DirectX:</span> <span class="details">Versión 11</span></p>
                                    <p><span class="title">Storage:</span> <span class="details">150 GB from
                                        available space</span></p>
                                    <p><span class="title">Additional notes:</span> <span class="details">SSD
                                            required</span></p>
                                </div>
                                <div>
                                    <h3 class="section-title">RECOMMENDED:</h3>
                                    <p><span class="title"></span> <span class="details">Requires a 64-bit processor and
                                        64-bit operating system</span></p>
                                    <p><span class="title">SO:</span> <span class="details"> Windows 10 64-bit</span>
                                    </p>
                                    <p><span class="title">Processor:</span> <span class="details"> Intel i7 8700K /
                                            AMD r5 3600</span></p>
                                    <p><span class="title">Memory:</span> <span class="details">16 GB de RAM</span></p>
                                    <p><span class="title">Graphics:</span> <span class="details"> Nvidia 2060 Super /
                                            RX 5700 XT (8GB+ of VRAM)</span></p>
                                    <p><span class="title">DirectX:</span> <span class="details">Versión 11</span></p>
                                    <p><span class="title">Storage:</span> <span class="details">150 GB from
                                        available space</span></p>
                                    <p><span class="title">Additional notes:</span> <span class="details">SSD
                                            required</span></p>
                                </div>
                            </div>
                        </div>
                        <div id="macos" class="requirements hidden">
                            <h2 class="text-lg mb-2">SYSTEM REQUIREMENTS</h2>
                            <div>.</div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <h3 class="section-title">MINIMUM:</h3>
                                    <p><span class="title">SO:</span> <span class="details"> macOS 12 or newer</span>
                                    </p>
                                    <p><span class="title">Processor:</span> <span class="details"> Apple M1</span></p>
                                    <p><span class="title">Memory:</span> <span class="details">8 GB de RAM</span></p>
                                    <p><span class="title">Graphics:</span> <span class="details"> Apple M1</span></p>
                                    <p><span class="title">Storage:</span> <span class="details">150 GB from
                                        available space</span></p>
                                    <p><span class="title">Additional notes:</span> <span class="details"> Recommended
                                            specs can run the game on high or ultra settings. SSD required.</span></p>

                                </div>
                                <div>
                                    <h3 class="section-title">RECOMMENDED:</h3>
                                    <p><span class="title">SO:</span> <span class="details"> Latest macOS</span></p>
                                    <p><span class="title">Processor:</span> <span class="details"> Apple M1 Pro or
                                            better</span></p>
                                    <p><span class="title">Memory:</span> <span class="details">16 GB de RAM</span></p>
                                    <p><span class="title">Graphics:</span> <span class="details"> Apple M1 Pro or
                                            better</span></p>
                                    <p><span class="title">Storage:</span> <span class="details">150 GB from
                                        available space</span></p>
                                    <p><span class="title">Notas adicionales:</span> <span class="details"> Recommended
                                            specs can run the game on high or ultra settings. SSD required.</span></p>

                                </div>
                            </div>
                        </div>
    </main>

    <script src="../HollowKnight/script.js"></script>
    <script src="../../Models/sistema.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var hamburgerMenuButton = document.querySelector('.hamburger-menu');
            var navLinks = document.querySelector('.nav-links');

            hamburgerMenuButton.addEventListener('click', function () {
                navLinks.classList.toggle('active');
            });
        });
    </script>
</body>

</html>